<div id="container">
  <div class="row">
    <div class="left">
      <div class="filler-wrapper">
        <div class="filler"></div>
        <div class="title">Technology</div>
      </div>
    </div>
    <div class="middle">
      <div class="filler-wrapper">
        <div class="filler"></div>
        <div class="title">Widget</div>
      </div>
    </div>
    <div class="right">
      <div class="filler-wrapper">
        <div class="filler"></div>
        <div class="title">Cool Thing</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="left">
      <div class="filler-wrapper">
        <div class="filler"></div>
        <div class="title">Touch Screen</div>
      </div>
    </div>
    <div class="middle">
      <div class="filler-wrapper">
        <div class="filler"></div>
        <div class="title">Projector</div>
      </div>
    </div>
    <div class="right">
      <div class="filler-wrapper">
        <div class="filler"></div>
        <div class="title">Computer</div>
      </div>
    </div>
  </div>
</div>