<div id="container">
  <div class="row">
    <div class="left">
      <div class="filler-wrapper">
        <div class="filler"><a href="images/eee_pad_transformer.pdf"><img src="images/eee_pad_transformer.png"></a></div>
        <div class="title">Eee Pad Transformer</div>
      </div>
    </div>
    <div class="middle">
      <div class="filler-wrapper">
        <div class="filler"><a href="images/galaxy_tab.pdf"><img src="images/galaxy_tab.png"></a></div>
        <div class="title">Galaxy Tab</div>
      </div>
    </div>
    <div class="right">
      <div class="filler-wrapper">
        <div class="filler"><a href="images/ipad.pdf"><img src="images/ipad.png"></a></div>
        <div class="title">iPad</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="left">
      <div class="filler-wrapper">
        <div class="filler"><a href="images/kindle_fire.pdf"><img src="images/kindle_fire.png"></a></div>
        <div class="title">Kindle Fire</div>
      </div>
    </div>
    <div class="middle">
      <div class="filler-wrapper">
        <div class="filler"><a href="images/mctivia.pdf"><img src="images/mctivia.png"></a></div>
        <div class="title">McTiVia</div>
      </div>
    </div>
    <div class="right">
      <div class="filler-wrapper">
        <div class="filler"><a href="images/nec_300xs.pdf"><img src="images/nec_300xs.png"></a></div>
        <div class="title">NEC 300XS Projector</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="left">
      <div class="filler-wrapper">
        <div class="filler"><a href="images/smart_board.pdf"><img src="images/smart_board.png"></a></div>
        <div class="title">Smart Board</div>
      </div>
    </div>
    <div class="middle">
      <div class="filler-wrapper">
        <div class="filler"><a href="images/sonos.pdf"><img src="images/sonos.png"></a></div>
        <div class="title">Sonos Sound System</div>
      </div>
    </div>
  </div>
</div>