// Place all the styles related to the manuals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
  
  .row {
    width: 100%;
    min-width: 660px;
    margin: 30px 0;
    
    .left {
      width: 33.3333%;
      float: left;
    }
    .middle {
      width: 33.3333%;
      float: left;
    }
    .right {
      width: 33.3333%;
      float: left;
    }
  }
  
}

.row-fluid { max-width: 1100px; }

.filler {
  width:200px;
  height:200px;
  margin: 0 auto;
  cursor: pointer;
  
  img { 
    overflow:hidden;
    border-radius: 10px; 
  }
  
}
.filler img:hover {
  box-shadow: black 2px 1px 7px;
}
.title {
  text-align: center;
  font-weight: bold;
  font-family: 'Cabin';
  font-size: 16px;
  margin-top: 5px;
}